# Pulsar Environment Configuration

# The port to bind the Pulsar web client to on your host machine
PULSAR_PORT=80

# The absolute path to your music library to mount into the container (Optional)
# MUSIC_DIR=/path/to/your/music

# Your Last.fm API Key (Optional)
LASTFM_API_KEY=
